/* The <p> element after each <h1> will appear as its subtitle. */

h1 {
	margin-bottom: calc(
		(var(--silver-paragraph-spacing) / 2 + 1em * (var(--silver-line-height) - 1)) * -0.1
	);
	padding-bottom: 0;

	border: none;
}

h1 + p {
	--silver-paragraph-indent: 0ch;

	margin-bottom: calc(
		(var(--silver-paragraph-spacing) / 2 + 1em * (var(--silver-line-height) - 1)) * 0.7
	);
	padding-bottom: calc(
		(var(--silver-paragraph-spacing) / 2 + 1em * (var(--silver-line-height) - 1)) * 0.4
	);

	border-bottom: 0.1em solid var(--silver-border-color);
	text-indent: var(--silver-paragraph-indent);
}
