/* The <p> element after each <h1> will appear as its subtitle. */

h2 {
	margin-bottom: calc(
		(var(--paragraph-spacing) / 2 + 1em * (var(--line-height) - 1)) * -0.3
	);
	padding-bottom: 0;

	border: none;
}

h2 + p {
	--paragraph-indent: 0ch;

	margin-bottom: calc(
		(var(--paragraph-spacing) / 2 + 1em * (var(--line-height) - 1)) * 0.5
	);
	padding-bottom: calc(
		(var(--paragraph-spacing) / 2 + 1em * (var(--line-height) - 1)) * 0.3
	);
	width: 80%;
	clear: both;

	border-bottom: 0.1em solid var(--border-color);
	text-indent: var(--paragraph-indent);
}
