/* Shared CSS page for general VSCode-generated Markdown HTML. Forms a complete package without need for any additional CSS or JS. */
@import "styles/theme.css";
@import "styles/fonts.css";
@import "styles/katex.css";
@import "styles/markdown.css";
@import "styles/vscode.css";

/* Variables to be redefined by the client for custom styling. More in `theme.css`. */
:root,
:host {
	--paragraph-spacing: 2em;
	--paragraph-indent: 0ch;
	--line-height: 1.5;
	--hr-content: "❄";
	--transition-time: 0.4s;
}

html {
	margin: 0;
	padding: 0;
}

:host,
body {
	display: block;
	width: calc(100% - 4em);
	max-width: 80ch;
	margin: 0;
	padding: 2em max(2em, 50% - 40ch);
	overflow-x: hidden;

	/* Default to the same as .serif */
	font-family: "Latin Modern Roman 10", KaiTi, serif;
	font-size: 1.2em;
	line-height: var(--line-height);
	color: var(--foreground-color);
	background-color: var(--background-color);

	/* Transitions should be applied to other elements but it is not very important. */
	transition: color var(--transition-time),
		background-color var(--transition-time);
}

/* Printing. Preferred-color-scheme is automatically set to light by the browser printing procedure. Styles on `:host,body` are usually not read. */
@media print {
	@page {
		margin: 1in;
	}

	:host,
	body {
		width: auto;
		max-width: none;
		margin: 0;
		padding: 0;

		font-size: 12pt;
	}

	p {
		overflow-x: hidden;
	}

	.silver-page-break {
		clear: both;
		break-after: page;
		page-break-after: always;
	}
}
